* { 
    font-family: 'Courier New', Courier, monospace;
}

#me{
    border: 10px solid;
}

#header {
    text-align: center;
}

#test {
    color: black;
}

.inner {
    color:blueviolet;
}

.content {
    text-shadow: 2px 2px blueviolet;
}
